<span class="notice"><%= notice %></span>
<% if session[:user_name] %>
  <% controller.redirect_to root_path %>
  
<% else %>
  <%= form_tag sessions_path do %> 

    <div class="field"> 
      <%= label_tag :Username %><br /> 
      <%= text_field_tag :username %> 
    </div> 

    <div class="field"> 
      <%= label_tag :password %><br /> 
      <%= password_field_tag :password %> 
    </div> 
    <br>
    <div class="remember">
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      <%= label_tag :remember_me %>
    </div>

    <div class="actions"> 
      <%= submit_tag 'Login', :class => 'register' %> 

      <p><%= link_to "forgotten password?", new_password_reset_path %></p>
    </div> 

  <% end %> 
<% end %>
