<p id="notice"><%= notice %></p>
<p><label>First Name</label><%= @user.first_name %></p>
<p><label>Last Name</label><%= @user.last_name %></p>
<p><label>Password</label><%= @user.password %></p>
<%= link_to 'Back', users_path %>
