<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p><%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %></p>
    <p><label>Thumbnail </label><%= f.file_field :image %></p>
    <p><label>Name</label><br><%= f.text_field :name %></p>
    <p><label>Content</label><br><%= f.cktext_area :content %></p>
    <p><label>Tags</label><br><%= f.text_field :tag_list %></p>
    <%= f.submit %>
  </div>
<% end %>
