<p id="notice"><%= notice %></p>
<h3><%= @category.name %></h3>
<span>Status: <%= @category.status %></span>
<p>
	<%= link_to 'Edit', edit_category_path(@category) %> |
	<%= link_to 'Back', categories_path %>
</p>
