<p id="notice"><%= notice %></p>

<h3><%= @category.name %></h3>
<div class="posts-index">
	<% @posts.each do |post| %>
	  <div class="col-md-4 post-detail">
	    <%= image_tag post.image.url %>
	    <h3><%= link_to post.name.first(30), post %></h3>
	    <p><label>By </label> <%= link_to post.user.username, user_path(post.user.id) %></p>
	    <p><label>Pushlished at </label> <%= time_ago_in_words(post.created_at) %></p>

	    <% if session[:user_name] == 'hklong' %>
	      <%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
	    <% end %>
	  </div>

	<% end %>
</div>
