<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<p><%= link_to 'New Post', new_qsadmin_post_path %></p>

<% @posts.each do |admin_post| %>
	<%= image_tag admin_post.image.url %>
    <h3><%= link_to admin_post.name %></h3>
    <h4>Posted by <%= admin_post.user.username %></h4>
    <p>
      <%= link_to 'Edit', edit_qsadmin_post_path(admin_post) %>
      <%= link_to 'Destroy', admin_post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
<% end %>

<p><%= will_paginate %></p>
