<header class="header container-fluid">
	<div class="row">
		<div class="col-md-12 header-top">
			<div class="login">
				<% if session[:user_id] %>
					<%= link_to session[:user_name], user_path(session[:user_id]) %>
					<ul>
						<li>
							<%= link_to 'Logout', session_path(session), method: :delete, class: 'register' %>
						</li>
					</ul>
					
					<% else %>
					<%= link_to 'Login', new_session_path, class: 'a-login' %> |
					<a href="/register" class="a-login">Register</a>
					
				<% end %>
			</div>
		</div>
		<div class="col-md-12 header-bottom">
			<div class="col-md-3 logo">
				<h1><a href="<%= root_path %>">QuickShop</a></h1>
			</div>
			<div class="col-md-6 menu">
				<nav class="menu-nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/shop">Shop</a></li>
						<li><a href="/blog">Blog</a>
							<ul>
								<% Category.all.each do | cat | %>
									<li><%= link_to cat.name, cat %></li>
									
								<% end %>
							</ul>
						</li>
						<li><a href="/about">About us</a></li>
						<li><a href="/contact">Contact us</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-md-3 search">
				<%= form_tag products_path, :method => 'get' do %>
				  <p>
				    <%= text_field_tag :search, params[:search] %>
				    <%= submit_tag "Search", :name => nil %>
				  </p>
				<% end %>
			</div>
		</div>
	</div>
</header>